# Ignore OpenStreetMap exports and OSRM data
OSRM/data/

# Ignore generated protobuf/gRPC files
*.pb*

# Ignore config
/config.json

# Ignore mTLS certs
certs/**
!certs/certgen.py

# Ignore executables
*.exe
