# Ignore OpenStreetMap exports and OSRM data
OSRM/data/

# Ignore generated protobuf/gRPC files
*.pb*

# Ignore mTLS certs
certs/**
!certs/certgen.py
!certs/README.md
!certs/regen.ps1

# Ignore executables
*.exe

